

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  --main-bg-color: #f9f9ef;
  --header-height: 60px;
  --footer-height: 150px;
  --web3-onload-padding: 25px;
  margin: 0px;
  overflow-x: hidden;
}

#not-chrome {
  height: calc(100vh - var(--footer-height));
  padding: var(--web3-onload-padding);
  background-color: #ffeae8;
}

#not-chrome-text {
  font: bold 45px verdana;
  color: #ed735e;
}

div.not-chrome-footer {
  background-color: #ffcec9 !important;
  color: #ed735e !important;
}

#no-web3 {
  font: bold 45px verdana;

  position: fixed;
  width: 500px;
  height: 300px;
  left: calc(50% - 250px);
  top: calc(50% - 150px);

  background-color: #ffcec9;
  color: #ed735e;
  border-color: #ff6344;
  border-style: solid;
  margin-left: 1%;

  z-index: 2000;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}

/* --------------------------------------------------------
  CSS FOR MAKING DEMO POPUP
-------------------------------------------------------- */
#demo-popup {
  background-color: #ffeae8;
  padding: 3px;
  font: bold 15px verdana;
  color: #ed735e;
  /* text-align: center; */
  border-color: #ff6344;
  border-style: solid;
}

#copy-click {
  font: 12px verdana;
  letter-spacing: 0em;
  text-transform: uppercase;
}

#popup-text:hover #copy-click {
  color: #ff6344;
  border-bottom: 1px solid #ff6344;
}

#popup-text:active #copy-click {
  color: #333;
  border-bottom: 1px solid #333;
}

#popup-text {
  padding: 15px;
  padding-left: 25px;
}

#seed-phrase {
  position: absolute;
  left: -9999px;
}

#close {
  width: 12px;
  height: 12px;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 100%;
  color: #ed735e;
  text-indent: -9999px;
}
#close:hover {
  color: #ff6344;
}
.arrow-t-b:after,
.arrow-t-b:before,
.arrow-l-r:after,
.arrow-l-r:before {
  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  content: "";
  left: 2px;
  top: 0px;
  position: absolute;
}
.arrow-t-b:after {
  border-top-color: inherit;
}
.arrow-l-r:after {
  border-right-color: inherit;
  left: 4px;
  top: 2px;
}
.arrow-t-b:before {
  border-bottom-color: inherit;
  bottom: 0;
}
.arrow-l-r:before {
  border-left-color: inherit;
  left: 0;
  top: 2px;
}

/* --------------------------------------------------------
  CSS FOR MAKING INSTANCE DATA
-------------------------------------------------------- */
#content-wrapper {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: var(--main-bg-color);
}

#header{
  width: 100%;
  height: var(--header-height);
  background-color: lightgray;
}

#instance-data {
  width: 100%;
  table-layout: fixed;
}

#arbol2 {
  margin-left: 10px;
  text-align:left;
  letter-spacing: -5px;
  font: bold 45px verdana;
}

td.inf-body {
  padding-left: 15px;
  padding-right: 15px;
}

td.inf {
  text-align:left;
  letter-spacing: 2px;
  font: 15px arial;
}

td.inf div {
  padding-bottom: 5px;
}

td.inf-name {
  text-align:right;
  letter-spacing: 2px;
  font: bold 18px arial;
  color: var(--main-bg-color);
  text-transform: uppercase;
}

td.inf-name, td.inf div {
  text-overflow: ellipsis;
  overflow: hidden;
}

.red-text{
  color: red;
  border-bottom: 1px solid red;
}

.green-text{
  color: #00cc00;
  border-bottom: 1px solid #00cc00;
}

.low-text{
  color: red;
}

.high-text{
  color: #00cc00;
}

/* --------------------------------------------------------
  CSS FOR MAKING TAB SELECTORS
-------------------------------------------------------- */

#tabs-table {
  width: 705px;
  margin: 0 auto;
}

.tabs {
  padding: 20px;
  letter-spacing: 5px;
  font: bold 20px arial;
  color: black;
  text-transform: uppercase;
  transition: transform .2s ease-in-out;
}

.click-tab {
  padding: 5px;
  background-color: var(--main-bg-color);
}

.click-tab:hover {
  border-bottom: 2px solid black;
}

input[type="radio"]:checked+label {
  border-bottom: 2px solid black;
}

hr {
  margin-top: -35px;
  margin-bottom: 35px;
  border: none;
  height: 2px;
  background-color: black;
}

#open, #create, #your {
  visibility: hidden;
}

/* --------------------------------------------------------
  CSS FOR MAKING THE TABS LAYOUT
-------------------------------------------------------- */

#web3-onload {
  height: 100%;
  padding: var(--web3-onload-padding);
}

#nav-div {
  height: 100%;
}

.nav-blocks {
  height: 100%;
  margin-top: 25px;
}

#create-protection, #your-protections {
  display: none;
}

/* --------------------------------------------------------
  CSS FOR FOOTER
-------------------------------------------------------- */

#footer {
  width: 100%;
  height: var(--footer-height);
  background-color: lightgray;
}

#logo {
  position:relative;
  width: 50px;
  height: 50px;
  padding-left: 25px;
  padding-top: 50px;
}

#links {
  position:relative;
  left: 100px;
  bottom: 80px;
}

#links table tr td {
  padding: 10px;
  font: bold 12px arial;
}

#links table tr td a {
  color: black;
  text-decoration: none;
}

#links table tr td a:hover {
  border-bottom: 2px solid black;
}

/* --------------------------------------------------------
  CSS FOR TABLE SORT
-------------------------------------------------------- */
.wrapper {
  min-height: calc(100vh - 200px - var(--header-height) - var(--footer-height));
}

.table-sorter {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.table-sorter th {
  border: 2.5px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  font: bold 15px arial;
  text-transform: uppercase;
  text-align: center;

  text-overflow: ellipsis;
  overflow: hidden;
}

.table-sorter th.hover {
  background-color: gray;
  color: var(--main-bg-color);
}

.table-sorter td div {
  font: 15px arial;
  text-align: center;

  line-height: 1.1em;
  height: 2.2em;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
}

.table-sorter tr.body-row:hover {
  background-color: #eee;
}

/* --------------------------------------------------------
  CSS FOR PAGINATION
-------------------------------------------------------- */
.pager-btns {
  width: 118px;
  height: 60px;
  margin: auto;
}

.pager-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  transition: transform .2s ease-in-out;
}

#open-back, #open-forward, #my-back, #my-forward {
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

#open-forward, #my-forward {
  transform: rotate(45deg);
  top: 3px;
}

#open-back, #my-back {
  transform: rotate(-135deg);
  top: 3px;
  left: 7px;
}

.pager-wrapper:hover{
  transform: scale(1.2);
}

.page-count span {
  letter-spacing: 5px;
  font: bold 20px arial;
}

/* --------------------------------------------------------
  CSS FOR FORM PAGE
-------------------------------------------------------- */

#form-inner-div {
  padding-top: 10px;
  padding-left: 25px;
}

#form-inner-div form table tr td {
  padding: 5px;
  font: bold 14px arial;
  /* text-transform: uppercase; */
  /* width: 120px; */
  text-align: right;
}

#create-proposal {
  margin-left: 125px;
  margin-top: 20px;

  font: bold 15px arial;
  text-transform: uppercase;

  background: lightgray;
  border: none;
  padding: 10px;
  outline: inherit;
  cursor: pointer;
}

#create-proposal:hover {
  color: blue;
}

#map-inner-div {
  padding-left: 20px;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(515px, 1fr));
  grid-gap: 10px;
}

.grid-el {
  height: 300px;
  width: 515px;
  border: 4px solid #f2f0e3;
  border-radius: 6px;
  background: #ffffff;
  align-self: start;
}

/* --------------------------------------------------------
  CSS FOR TOOLTIP
-------------------------------------------------------- */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltiptext {
    visibility: hidden;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
    /* height: 2.4em; */
    background-color: var(--main-bg-color); /* #f1f1f1; */
    border-radius: 1px;
    border: 1px solid #ccc;

    color: blue;
    text-align: left;
    overflow-wrap: break-word;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font: bold 11px arial;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 130%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* --------------------------------------------------------
  Remove button styling
-------------------------------------------------------- */

button.tableBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

button.action {
  cursor: pointer;
  font-weight: bold;
}

button.action:hover {
  color: blue;
}

/* --------------------------------------------------------
  CSS FOR MAKING LOADING ICON
-------------------------------------------------------- */

  .loading:before {
    content: '';
    display: block;
    height: calc(100vh - 200px - var(--header-height) - var(--footer-height));
    left: var(--web3-onload-padding);
    right: var(--web3-onload-padding);
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,0.3) center center no-repeat;
  }

  .loader-icon {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 1000;
    animation: spin 1s linear infinite;
  }

  #open-loader, #my-loader {
      top: calc((100vh - 235px - var(--header-height) - var(--footer-height))/2);
      left: 50%;
  }

  #chart-loader {
      top: -180px;
      left: 240px;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  /* --------------------------------------------------------
    CSS FOR MISSING INFO BORDERS
  -------------------------------------------------------- */

  .missing-info {
    border: 2px solid red;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* --------------------------------------------------------
    CSS FOR MAKING DOWN ARROW
  -------------------------------------------------------- */

  #arrow-wrapper {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
  }
  .arrow-border {
    position: relative;
    width: 60px;
    height: 60px;
    /*border: 2px solid black;*/
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    transition: background .4s ease-in-out;
  }
  .arrow-border:hover, .arrow-border:focus{
    background: rgba(255, 255, 255, 0.5);
  }

  .arrow {
    position: absolute;
    bottom: 24px;
    width: 20px;
    height: 20px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    right: 19px;
  }
  .arrow {
    transition-property: transform;
    transition-duration: 1s;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    timing-function: linear;
  }

  @keyframes pulse {
    0% {transform: scale(1) rotate(135deg);}
    50% {transform: scale(1.2) rotate(135deg);}
    100% {transform: scale(1) rotate(135deg);}
  }

  /* --------------------------------------------------------
    CSS FOR CREATE WIT
  -------------------------------------------------------- */

  #start-input, #end-input {
    display: inline-block;
  }
