<html>
  <head>
    <title>Create WIT</title>
    <meta charset="utf8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="createWIT.css">
  </head>
  <body>
    <div id="createWIT">
      <form>
        <div v-if="step === 1">
          <div class="frame-status">
            Create your agreement step-by-step
          </div>
          <div class="frame-body grid-cols-2">
            <div class="grid-col">
              <h3 class="title-step">1. Select a weather index</h3>
              <ul class="form-options">
                <li><label><input type="radio" name="weatherindex" value="Rainfall" v-model="newwit.weatherindex"> Rain</label></li>
                <li><label><input type="radio" name="weatherindex" value="Snowfall" v-model="newwit.weatherindex" disabled> Snow</label></li>
                <li><label><input type="radio" name="weatherindex" value="Wind Speed" v-model="newwit.weatherindex" disabled> Wind</label></li>
                <li><label><input type="radio" name="weatherindex" value="Average Temperature" v-model="newwit.weatherindex" disabled> Temperature</label></li>
              </ul>
            </div>
            <div class="grid-col">
              <div class="frame-helpbox">
                <h4>Help Title</h4>
                <p>This is some help text to accompany the current step in the WIT creation process.</p>
              </div>
            </div>
          </div>
          <nav class="formnav grid-cols-2">
            <div class="grid-col"><button class="prev arbol-app-button" disabled>Previous</button></div>
            <div class="grid-col"><button class="next arbol-app-button" @click.prevent="next()">Next</button></div>
          </nav>
        </div><!-- end step -->

        <div v-if="step === 2">
          <div class="frame-status grid-cols-2">
            <div class="grid-col">Your agreement is for <strong>{{ newwit.weatherindex }}</strong></div>
            <div class="grid-col"><button class="cancel arbol-app-button" @click.prevent="cancel()">Cancel</button></div>
          </div>
          <div class="frame-body grid-cols-2">
            <div class="grid-col">
              <h3 class="title-step">2a. Pick location(s)</h3>
              <ul class="form-options">
                <li><label><input type="radio" name="locationtype" value="Weather Stations" v-model="newwit.locationtype"> Select by weather stations</label></li>
                <li><label><input type="radio" name="locationtype" value="Coordinates" v-model="newwit.locationtype"> Select by coordinates</label></li>
                <li><label><input type="radio" name="locationtype" value="Major Crop Region" v-model="newwit.locationtype"> Select by major crop region</label></li>
              </ul>
            </div>
            <div class="grid-col">
              <div class="frame-helpbox">
                <h4>Help Title</h4>
                <p>This is some help text to accompany the current step in the WIT creation process.</p>
              </div>
            </div>
          </div>
          <nav class="formnav grid-cols-2">
            <div class="grid-col"><button class="prev arbol-app-button" @click.prevent="prev()">Previous</button></div>
            <div class="grid-col"><button class="next arbol-app-button" @click.prevent="next()">Next</button></div>
          </nav>
        </div><!-- end step -->

        <div v-if="step === 3">
          <div class="frame-status grid-cols-2">
            <div class="grid-col">Your agreement is for <strong>{{ newwit.weatherindex }}</strong> at <strong>{{ newwit.locationtype }}</strong></div>
            <div class="grid-col"><button class="cancel arbol-app-button" @click.prevent="cancel()">Cancel</button></div>
          </div>
          <div class="frame-body grid-cols-2">
            <div class="grid-col">
              <h3 class="title-step">2b. Pick location(s)</h3>
              <div class="frame-helpbox">
                <h4>Help Title</h4>
                <p>This is some help text to accompany the current step in the WIT creation process.</p>
                <p>IKEA = Map Stations</p>
                <p>One World Trade = Coordinates</p>
                <p>Central Park = Regions</p>
              </div>
            </div>
            <div class="grid-col">
              <div class="arbol-app-map-stations" v-if="newwit.locationtype == 'Weather Stations'">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12104.275568316481!2d-74.0081428352417!3d40.67245098818672!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9716464a8278360a!2sIKEA+Brooklyn+Home+Furnishings!5e0!3m2!1sen!2sus!4v1539290149838" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <div class="arbol-app-map-coords" v-if="newwit.locationtype == 'Coordinates'">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11726.596768799036!2d-74.01291342232393!3d40.70627877423126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a197c06b7cb%3A0x40a06c78f79e5de6!2sOne+World+Trade+Center!5e0!3m2!1sen!2sus!4v1539290259739" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <div class="arbol-app-map-regions" v-if="newwit.locationtype == 'Major Crop Region'">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12084.20838156086!2d-73.9741098410609!3d40.78286884462103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589a018531e3%3A0xb9df1f7387a94119!2sCentral+Park!5e0!3m2!1sen!2sus!4v1539290385886" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <nav class="formnav grid-cols-2">
            <div class="grid-col"><button class="prev arbol-app-button" @click.prevent="prev()">Previous</button></div>
            <div class="grid-col"><button class="next arbol-app-button" @click.prevent="next()">Next</button></div>
          </nav>
        </div><!-- end step -->

        <div v-if="step === 4">
          <div class="frame-status grid-cols-2">
            <div class="grid-col">Your agreement is for <strong>{{ newwit.weatherindex }}</strong> at <strong>{{ newwit.locationtype }}</strong></div>
            <div class="grid-col"><button class="cancel arbol-app-button" @click.prevent="cancel()">Cancel</button></div>
          </div>
          <div class="frame-body grid-cols-2">
            <div class="grid-col">
              <h3 class="title-step">3. Pick time period</h3>
              <p>
                <label class="arbol-arbol-app-input-label" for="startdate">Start Date:</label>
                <vuejs-datepicker v-model="newwit.startdate" name="startdate" format="MMMM yyyy" minimum-view="month" input-class="arbol-app-input" wrapper-class="arbol-app-datepicker"></vuejs-datepicker>
              </p>
              <p>
                <label class="arbol-arbol-app-input-label" for="startdate">End Date:</label>
                <vuejs-datepicker v-model="newwit.enddate" name="enddate" format="MMMM yyyy" minimum-view="month" input-class="arbol-app-input" wrapper-class="arbol-app-datepicker"></vuejs-datepicker>
              </p>
            </div>
            <div class="grid-col">
              <div class="frame-helpbox">
                <h4>Time Period</h4>
                <p>The time period for which weather data will be analyzed to determine the outcome of your WIT.</p>
              </div>
            </div>
          </div>
          <nav class="formnav grid-cols-2">
            <div class="grid-col"><button class="prev arbol-app-button" @click.prevent="prev()">Previous</button></div>
            <div class="grid-col"><button class="next arbol-app-button" @click.prevent="next()">Next</button></div>
          </nav>
        </div><!-- end step -->

        <div v-if="step === 5">
          <div class="frame-status grid-cols-2">
            <div class="grid-col">
              Your agreement is for
              <strong>{{ newwit.weatherindex }}</strong> at
              <strong>{{ newwit.locationtype }}</strong> from
              <strong>{{ newwit.startdate | formatDate({year:'numeric',month:'long'}) }}</strong> to
              <strong>{{ newwit.enddate | formatDate({year:'numeric',month:'long'}) }}</strong>
            </div>
            <div class="grid-col"><button class="cancel arbol-app-button" @click.prevent="cancel()">Cancel</button></div>
          </div>
          <div class="frame-body grid-cols-2">
            <div class="grid-col">
              <h3 class="title-step">4. Pick <span style="text-transform:lowercase">{{newwit.weatherindex}}</span> threshold level</h3>
              <select class="arbol-app-select" id="threshold-relation" v-model="newwit.threshold_relation">
                <option value="greater">Greater than</option>
                <option value="less">Less than</option>
              </select>
              <select class="arbol-app-select" id="threshold-percent" v-model="newwit.threshold_percent">
                <option value="0">0%</option>
                <option value="10">10%</option>
                <option value="25">25%</option>
              </select>
              <select class="arbol-app-select" id="threshold-average" v-model="newwit.threshold_average">
                <option value="above">above average</option>
                <option value="below">below average</option>
              </select>
            </div>
            <div class="grid-col">
              Placeholder for chart
            </div>
          </div>
          <nav class="formnav grid-cols-2">
            <div class="grid-col"><button class="prev arbol-app-button" @click.prevent="prev()">Previous</button></div>
            <div class="grid-col"><button class="next arbol-app-button" @click.prevent="next()">Next</button></div>
          </nav>
        </div><!-- end step -->

         <div v-if="step === 6">
           <div class="frame-status grid-cols-2">
             <div class="grid-col">
               Your agreement is for
               <strong>{{ newwit.weatherindex }}</strong> at
               <strong>{{ newwit.locationtype }}</strong> from
               <strong>{{ newwit.startdate | formatDate({year:'numeric',month:'long'}) }}</strong> to
               <strong>{{ newwit.enddate | formatDate({year:'numeric',month:'long'}) }}</strong>,
               <strong>{{ newwit.threshold_relation }} {{ newwit.threshold_percent }}% {{ newwit.threshold_average }} average</strong>
             </div>
             <div class="grid-col"><button class="cancel arbol-app-button" @click.prevent="cancel()">Cancel</button></div>
           </div>
          <div class="frame-body grid-cols-2">
            <div class="grid-col">
              <h3 class="title-step">5. Pick contribution and payout amount</h3>
            </div>
            <div class="grid-col">
              <div class="frame-helpbox">
                <h4>This WIT will enter the marketplace as:</h4>
                <p class="rating">AAA rated WIT</p>
                <p>Chance of return for a prospective buyer will be 75%, and they will receive a 50% return over the course of 2 months. Very desirable.</p>
              </div>
            </div>
          </div>
          <nav class="formnav grid-cols-2">
            <div class="grid-col"><button class="prev arbol-app-button" @click.prevent="prev()">Previous</button></div>
            <div class="grid-col"><button class="next arbol-app-button" @click.prevent="next()">Next</button></div>
          </nav>
        </div><!-- end step -->

        <div v-if="step === 7">
          <div class="frame-status grid-cols-2">
            <div class="grid-col">
              Your agreement is for
              <strong>{{ newwit.weatherindex }}</strong> at
              <strong>{{ newwit.locationtype }}</strong> from
              <strong>{{ newwit.startdate | formatDate({year:'numeric',month:'long'}) }}</strong> to
              <strong>{{ newwit.enddate | formatDate({year:'numeric',month:'long'}) }}</strong>,
              <strong>{{ newwit.threshold_relation }} {{ newwit.threshold_percent }}% {{ newwit.threshold_average }} average</strong>
            </div>
            <div class="grid-col"><button class="cancel arbol-app-button" @click.prevent="cancel()">Cancel</button></div>
          </div>
          <div class="frame-body grid-cols-2">
            <div class="grid-col">
            </div>
            <div class="grid-col">
            </div>
          </div>
          <nav class="formnav grid-cols-2">
            <div class="grid-col"><button class="prev arbol-app-button" @click.prevent="prev()">Previous</button></div>
            <div class="grid-col"><button class="submit arbol-app-button" @click.prevent="submit()">Confirm</button></div>
          </nav>
        </div><!-- end step -->

      </form>
      <div class="debug">Debug: {{newwit}}</div>
    </div>
  </body>
</html>