body {
  --app-color-text-active:#0069ff;
  --app-color-background:#f9f9ef;
  --app-color-border:#999;
  --app-color-border-active:#0069ff;
  --app-color-shaded:#e6e6e6;
  --app-color-shaded-active:#c4dcff;
  background-color:var(--app-color-background);
  color:black;
  font-size:16px;
  line-height:20px;
  margin:0;
  padding:20px;
}

/* form element patterns */
.arbol-app-button {
  background-color:var(--app-color-shaded);
  border:1px var(--app-color-border) solid;
  border-radius:3px;
  cursor:pointer;
  padding:5px;
  text-align:center;
}
.arbol-app-button:not([disabled]):hover {
  background-color:var(--app-color-shaded-active);
  border:2px var(--app-color-border-active) solid;
  color:var(--app-color-text-active);
  padding:4px;
}
.arbol-app-button.submit {
  font-weight:bold;
  letter-spacing:0.05em;
  padding:7px;
  text-transform:uppercase;
}
.arbol-app-button.submit:not([disabled]):hover {
  padding:6px;
}
.arbol-app-input-label {
  display:block;
}
.arbol-app-input {
  border:1px var(--app-color-border) solid;
  background-color:white;
  font-size:14px;
  line-height:20px;
  margin:0;
  padding:3px;
}
.arbol-app-input-label + .arbol-app-datepicker,
.arbol-app-input-label + .arbol-app-input {
  margin-top:5px;
}
.arbol-app-select {
  display:block;
  width:20em;
}
* + .arbol-app-select {
  margin-top:10px;
}
.grid-cols-2 {
  display:grid;
  grid-column-gap:20px;
  grid-template-columns:auto auto;
}

/* container */
#createWIT {
  font-family:arial;
  margin-left:auto;
  margin-right:auto;
  max-width:960px;
}

/* status bar at top of the frame */
#createWIT .frame-status {
  background-color:var(--app-color-shaded);
  font-size:14px;
  border:1px var(--app-color-border) solid;
  padding:10px 20px;
}
#createWIT .frame-status.grid-cols-2 .grid-col {
  align-self:center;
}
#createWIT .frame-status.grid-cols-2 .grid-col:nth-child(2) {
  justify-self:end;
}

/* main frame body and children */
#createWIT .frame-body {
  box-sizing:border-box;
  background-color:white;
  border:1px var(--app-color-border) solid;
  border-top:0;
  min-height:250px;
  padding:20px;
  position:relative;
}
#createWIT .frame-body.grid-cols-2 .grid-col:nth-child(2) {
  justify-self:end;
}
#createWIT .frame-helpbox {
  box-sizing:border-box;
  background-color:white;
  border:1px var(--app-color-border) solid;
  color:#666;
  font-size:14px;
  min-height:210px;
  padding:20px;
  width:250px;
}
#createWIT .frame-helpbox * {
  margin-bottom:0;
  margin-top:0;
}
#createWIT .frame-helpbox * + * {
  margin-top:10px;
}
#createWIT .title-step {
  display:block;
  font-size:18px;
  font-weight:bold;
  margin:0 0 20px 0;
}
#createWIT .form-options {
  display:block;
  list-style:none;
  margin:0;
  padding:0;
}
#createWIT .form-options li + li {
  margin-top:5px;
}

/* next/prev nav for createWIT process */
#createWIT .formnav {
  box-sizing:border-box;
  min-height:40px;
  padding:10px;
  position:relative;
}
#createWIT .formnav .grid-col {
  align-self:center;
  justify-self:center;
}
#createWIT .formnav .arbol-app-button {
  width:90px;
}

#createWIT .debug {
  color:red;
  font-size:12px;
  padding:20px;
}